[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
influxdb3-python = "~=0.6"
lowatt-grdf = "~=2.3"
python-dotenv = "~=1.0"
schedule = "~=1.2"
sentry-sdk = "~=2.9"
requests = "~=2.32"

[dev-packages]
ruff = "~=0.5"

[requires]
python_version = "3.12"

[scripts]
lint="ruff check ."
format="ruff check . --fix"
