[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
influxdb-client = "~=1.42"
lowatt-grdf = "~=2.2"
python-dotenv = "~=1.0"
schedule = "~=1.2"
sentry-sdk = "~=1.45"
requests = "~=2.31"

[dev-packages]
ruff = "~=0.3"

[requires]
python_version = "3.12"

[scripts]
lint="ruff check ."
format="ruff check . --fix"
